name: Python CI

on:
  pull_request:
    paths:
      - "data-science/**"
      - ".github/workflows/python_ci.yml"
  push:
    branches:
      - main
    paths:
      - "data-science/**"
      - ".github/workflows/python_ci.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: data-science

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: data-science/requirements.txt

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest
