name: Terraform Plan

on:
  pull_request:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform_plan.yml"

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        run: terraform fmt -check -recursive
        working-directory: infra/terraform

      - name: Terraform init (staging)
        run: terraform init -backend=false
        working-directory: infra/terraform/environments/staging

      - name: Terraform validate (staging)
        run: terraform validate
        working-directory: infra/terraform/environments/staging

      - name: Terraform init (prod)
        run: terraform init -backend=false
        working-directory: infra/terraform/environments/prod

      - name: Terraform validate (prod)
        run: terraform validate
        working-directory: infra/terraform/environments/prod
